<div *ngIf="game$ | async as game">
  <h1>
    Spiel beitreten <span *ngIf="game.name">im Raum {{ game.name }}</span>
  </h1>
  <ng-container *ngIf="game.status === 'created'; else gameRunning">
    <form [formGroup]="formGroup" (submit)="submit(game.id)">
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Spielername"
          formControlName="playerName"
          maxlength="20"
          required
        />
      </mat-form-field>
      <br />
      <div class="actions">
        <button mat-stroked-button color="accent">Beitreten</button>
        <button mat-stroked-button routerLink="/rules">Spielregeln</button>
      </div>
    </form>
  </ng-container>
  <ng-template #gameRunning>
    <p>Du kannst leider nicht mehr teilnehmen, das Spiel läuft bereits</p>
  </ng-template>
</div>
