<p *ngIf="isRolling | async; else notRolling">Wait for it...</p>

<ng-template #notRolling>

  <div class="dice-container" *ngIf="rolledDices$ | async as rolledDices;">
    <ng-container *ngFor="let diceKey of rolledDices | objectKeys">
      <ng-container *ngIf="dices[diceKey] as resultDice">
        <mws30-dice [dice]="resultDice"
                    (click)="pickDice(resultDice, diceKey)"
                    [class.picked]="resultDice.picked">
        </mws30-dice>
      </ng-container>
    </ng-container>
  </div>

  <button mat-raised-button *ngIf="dices | turnFinished; else gameRunning" (click)="closeRound()">
    Runde schließen
  </button>

  <ng-template #gameRunning>
    <button mat-raised-button *ngIf="!(dices | hasRolled)" (click)="rollDices()">
      Jetzt würfeln
    </button>

    <button mat-raised-button *ngIf="!isFirstTurn && dices | canRollAgain" (click)="keepChosenDices(dices)">
      Erneut würfeln
    </button>
  </ng-template>

</ng-template>
