@import "variables";

:host {
  max-width: 100vw;
  overflow: auto;
  overflow-x: hidden;
}

header {
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 99;

  mat-toolbar {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
    }
  }
}

.container {
  padding: 15px 15px 50px 15px;
}

mat-drawer-container {
  height: calc(100% - 64px);

  @media #{$mat-xs} {
    height: calc(100% - 56px);
  }

  .sidemenu {
    width: 100%;
    margin-right: 30px;
  }

  a:not(.active) {
    background-color: #393939;
  }

  a.active {
    background-color: #4c4c4c;
  }
}

footer {
  z-index: 99;
  height: 40px;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #393939;
  width: 100%;
  color: #fff;
  flex-direction: row-reverse;

  small {
    margin: 10px 20px;
  }
}
