/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  --mat-divider-margin: 2em 0;
}

.big {
  font-size: 20px;
  line-height: 22px;
}

.medium {
  font-size: 18px;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    font-size: 16px;
  }

  body {
    --mat-divider-margin: 1em 0;
  }
}



