<h2>Neues Spiel anlegen</h2>
<form [formGroup]="formGroup" (submit)="createGame(checkbox.checked)">
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Name des Raums"
      formControlName="roomName"
      maxlength="20"
      required
    />
    <mat-error>Bitte gib einen Namen ein</mat-error>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Spielername wählen"
      formControlName="playerName"
      maxlength="20"
      required
    />
    <mat-error>Bitte gib einen Namen ein</mat-error>
  </mat-form-field>
  <br />
  <br />
  <mat-checkbox formControlName="support" #checkbox>
    Eine Gaststätte unterstützen
  </mat-checkbox>
  <br />
  <div [hidden]="!checkbox.checked">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Name von Kneipe oder Wirt"
        formControlName="nameOfKneipeOrWirt"
        maxlength="20"
        [required]="checkbox.checked"
      />
    </mat-form-field>
    <br />
    <mat-form-field>
      <input
        matInput
        type="number"
        min="0"
        step="0.5"
        placeholder="Spende pro Getränk in €"
        formControlName="amountPerDrink"
        [required]="checkbox.checked"
      />
      <mat-error>Bitte gib eine gültige Zahl ein</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Spendenkonto Typ</mat-label>
      <mat-select formControlName="paymentOption" [required]="checkbox.checked">
        <mat-option
          *ngFor="let paymentOption of paymentOptions"
          [value]="paymentOption.value"
        >
          {{ paymentOption.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Paypal-URL</mat-label>
      <input
        matInput
        type="text"
        placeholder="https://www.paypal.com/..."
        formControlName="payPalLink"
        [required]="checkbox.checked"
      />
    </mat-form-field>
  </div>
  <br />
  <br />
  <div class="actions">
    <button mat-stroked-button color="accent" type="submit">
      Jetzt Spiel anlegen
    </button>
    <button mat-stroked-button routerLink="/rules">Spielregeln anzeigen</button>
    <button mat-stroked-button routerLink="/overview">Meine Spiele</button>
  </div>
</form>
