<button mat-stroked-button color="accent" (click)="goBack()">
  <mat-icon>keyboard_backspace</mat-icon>
  <span>Zurück</span>
</button>

<h2>Was ist MWS30 (Much wow such 30)?</h2>
<p>
  MWS30 ist ein Gesellschaftsspielt bei dem das Ziel ist einen Verlierer zu ermitteln der die nächste Runde in der
  Kneipe zahlt.
  Wegen der aktuellen Lage hat unser Team es sich zur Aufgabe gemacht auch die spaßigen Teile unseres Lebens ins
  “HomeOffice“ zu bringen.
  Da nicht jeder und vor allem unsere Wirte leider nicht die Möglichkeit haben “HomeOffice“ zu machen haben wir die
  Funktion integriert,
  dass der Verlierer über einen PayPal.me-Link einen vor der Runde vom Admin festgelegten Betrag pro “Getränk“ an
  seine Kneipe spenden kann.
  Unsere Wirte haben uns Jahre lang durch schlechte Zeiten geholfen und jetzt sind wir einmal an der Reihe!
</p>

<h2>Wie spielt man MWs30?</h2>
<p>
  Mws30 kann mit 2 bis beliebig vielen Spielern gespielt werden.
  Als erste Handlung im Spiel würfelt jeder Spieler mit allen 6 Würfeln um seine Lebenszahl festzulegen.
  Die Anzahl der Leben berechnet sich aus der Summe der gewürfelten Augenzahlen.
  Hat jeder Spieler seine Lebensanzahl gewürfelt entscheidet der Admin(Ersteller der Runde) wer anfängt und das Spiel
  beginnt.
</p>
<p>
  Ziel eines Spielzuges ist es so viel Punkte (addierte Augenzahlen) wie möglich zu würfeln.
  Es wird so lange gewürfelt wie noch Würfel im “Becher“ sind.
  Nach jedem Würfeln können beliebig viele und MUSS ein Würfel rausgelegt werden.
  Legt der Spieler also pro Wurf einen Würfel raus, würfelt er 6 mal.
  Das Ergebnis eines Zuges ergibt sich aus der gewürfelten Augenzahl.
  Ist das Ergebnis unter 30 wird die Different zu 30 den Spielerleben des aktuellen Spielers abgezogen.
  Ist das Ergebnis genau 30 passiert nichts und der nächste Spieler ist am Zug.
  Ist das Ergebnis über 30 kann der Spieler seinen Nachfolgenden Spieler mit der Differenz zu 30 (Angriffszahl)
  angreifen.
</p>
<p>
  Während eines Angriffs würfelt der Spieler im ersten Schritt mit allen Würfeln.
  Wenn ein oder mehrere Würfel die vorher gewürfelte Angriffszahl zeigen,
  wird dieser bzw werden diese Würfel raus gelegt und es wird mit den restlichen Würfeln weiter gewürfelt.
  Dieser Vorgang wird so lange wiederholt bis bei einem Wurf kein Würfel die Angriffszahl zeigt.
  Würfelt der angreifende Spieler 6 mal die Angriffszahl werden alle 6 Würfel wieder zurück genommen und
  das ganze beginnt von vorne bis er einen Wurf ohne Angriffszahl würfelt.
  Die Summe der gewürfelten Angriffszahlen wird dem nächsten Spieler abgezogen.
  Damit ist der Spielzug beendet und der nächste Spieler kann seinen Zug beginnen.
  Das Spiel ist beendet wenn ein Spieler alle Leben abgezogen bekommen hat.
</p>
