<h2>Was ist MWS30?</h2>
<p>
  Die Abkürzung MWS30 steht für "Much wow such 30". MWS30 ist ein
  Gesellschaftsspiel mit dem Ziel, einen Verlierer zu ermitteln, der die nächste
  Runde in der Kneipe zahlt. Wegen der aktuellen Lage hat unser Team es sich zur
  Aufgabe gemacht, auch die spaßigen Teile unseres Lebens ins Home Office zu
  bringen. Da nicht jeder und vor allem unsere Wirte leider nicht die
  Möglichkeit haben, Home Office zu machen, haben wir eine Funktion in unser
  Spiel integriert, um unsere Kneipen und Bars zu unterstützen. Der Ersteller
  der Runde (Admin) legt vorher einen Betrag pro “Getränk“ fest, den der
  Verlierer der Runde über einen PayPal.me-Link an seine Lieblingskneipe spenden
  kann. Unsere Wirte haben uns Jahre lang durch schlechte Zeiten geholfen -
  jetzt sind wir an der Reihe!
</p>

<h2>Wie spielt man MWS30?</h2>
<p>
  Mws30 kann mit zwei bis beliebig vielen Spielern gespielt werden. Als erstes
  würfelt jeder Spieler mit allen sechs Würfeln die Anzahl seiner Leben für das
  Spiel: Die Summe der gewürfelten Augenzahlen. Hat jeder Spieler seine
  Lebensanzahl gewürfelt, entscheidet der Admin, wer anfängt und das Spiel
  beginnt.
</p>
<p>
  Ziel eines Spielzuges ist es, so viel Punkte (addierte Augenzahlen) wie
  möglich zu würfeln. Es wird so lange gewürfelt, wie noch Würfel im “Becher“
  sind. Nach jedem Würfeln können beliebig viele, aber mindestens ein Würfel
  rausgelegt werden. Das Ergebnis eines Zuges ergibt sich aus der insgesamt
  gewürfelten Augenzahl der herausgelegten Würfel. Ist das Ergebnis unter 30,
  wird die Differenz von der Lebensanzahl des aktuellen Spielers abgezogen. Ist
  die Summe genau 30, passiert nichts und der nächste Spieler ist am Zug. Ist
  das Ergebnis über 30 kann der Spieler seinen Nachfolgenden Spieler mit der
  Differenz zu 30 (Angriffszahl) angreifen.
</p>
<p>
  Ziel des Angriff ist es, möglichst oft die Angriffzahl (Differenz zu 30) zu
  würfeln und diese Würfel aus dem Becher herauszunehmen. Im ersten Schritt wird
  mit allen Würfeln gewürfelt. Die Würfel mit der Angriffszahl werden rausgelegt
  und es wird mit den restlichen Würfeln weitergewürfelt. Dieser Vorgang wird so
  lange wiederholt bis bei einem Wurf kein Würfel die Angriffszahl zeigt.
  Würfelt der angreifende Spieler 6 mal die Angriffszahl werden alle 6 Würfel
  wieder zurück genommen und das ganze beginnt von vorne bis er einen Wurf ohne
  Angriffszahl würfelt. Die Summe der gewürfelten Angriffszahlen wird dem
  nächsten Spieler von dessen Lebensanzahl abgezogen. Damit ist der Spielzug
  beendet und der nächste Spieler kann seinen Zug beginnen. Das Spiel ist
  beendet, wenn ein Spieler alle Leben verloren hat.
</p>
