<div *ngFor="let player of ctx.game.players | objectValues">
  <div
    [class.active]="player.active"
    [class.attacked]="(ctx.game | attackedPlayer: ctx.player)?.id === player.id"
    class="player-scores">
    <div class="player-name"><p><strong>{{ player.name }}</strong></p></div>
    <div class="scores" *ngIf="player.turns as turns;">
      <ng-container *ngFor="let turn of turns | objectValues | filterNotepadTurns">
        <button
          *ngIf="turn.currentScore > 0; else noScore"
          mat-stroked-button
          (click)="openDiceView(turn.dices)"
        >
          {{ turn.currentScore }}
        </button>
        <ng-template #noScore>
          <button mat-stroked-button *ngIf="turn.currentScore < 0">☠️</button>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
