.active {
  color: mediumseagreen;
}

.attacked {
  color: crimson;
}

.player-scores {
  min-height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .player-name {
    display: grid;
    align-items: center;
    width: 80px;
    p {
      width: 80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
  }

  .scores {
    button {
      margin: 1px;
    }
  }
}
